---
  env:
    browser: true
    node: true

  plugins:
    - "flowtype"

  globals:
    SyntheticEvent: false
    SyntheticMouseEvent: false
    SyntheticKeyboardEvent: false
    SyntheticDragEvent: false
    $Keys: false
    $FlowFixMeState: false
    __DEBUG__: false

  rules:

    ##### ECMAScript 6 #####

    no-var: 2                    # require let or const instead of var (off by default)
    generator-star: 0            # enforce the position of the * in generator functions (off by default)
    prefer-template: 2           # suggest using template literals instead of string concatenation
    prefer-arrow-callback: 1     # suggest using arrow functions as callbacks
    arrow-spacing: 2             # require space before/after arrow function’s arrow

    ##### React #####

    react/react-in-jsx-scope: 2
    react/jsx-uses-react: 2
    react/jsx-uses-vars: 2
    react/no-string-refs: 1
    react/no-find-dom-node: 1
    react/display-name: 1
    react/no-render-return-value: 1
    react/prop-types: 1          # prevent missing props validation in a React component definition

    ##### Flow #####
    flowtype/boolean-style:
        - 2
        - boolean
    flowtype/define-flow-type: 1
    flowtype/delimiter-dangle:
        - 2
        - never
    flowtype/generic-spacing:
        - 2
        - never
    flowtype/no-primitive-constructor-types: 1
    flowtype/no-types-missing-file-annotation: 1
    flowtype/no-weak-types: 1
    flowtype/object-type-delimiter:
        - 2
        - comma
    flowtype/require-parameter-type: 0
    flowtype/require-return-type:
        - 0
        - always
        - annotateUndefined: never
    flowtype/require-valid-file-annotation: 2
    flowtype/semi:
        - 2
        - always
    flowtype/space-after-type-colon:
        - 2
        - always
    flowtype/space-before-generic-bracket:
        - 2
        - never
    flowtype/space-before-type-colon:
        - 2
        - never
    flowtype/type-id-match:
        - 1
        - ^[A-za-z0-9]+Type$
    flowtype/union-intersection-spacing:
        - 2
        - always
    flowtype/use-flow-type: 1
    flowtype/valid-syntax: 1

  ##### Configuration for files directly included in ad code #####

  overrides:
    plugins: []
    env:
      browser: true
      node: false
      jest: false
    files: [ "*/**/*.raw.js" ]
    rules:
      no-var: 0                    # require let or const instead of var (off by default)
      generator-star: 0            # enforce the position of the * in generator functions (off by default)
      prefer-template: 0           # suggest using template literals instead of string concatenation
      prefer-arrow-callback: 0     # suggest using arrow functions as callbacks
      arrow-spacing: 0             # require space before/after arrow function’s arrow
      no-unused-expressions:       # disallow usage of expressions in statement position
          - 1
          - allowTernary: true
            allowShortCircuit: true

      react/react-in-jsx-scope: 0
      react/jsx-uses-react: 0
      react/jsx-uses-vars: 0
      react/no-string-refs: 0
      react/no-find-dom-node: 0
      react/display-name: 0
      react/no-render-return-value: 0
      react/prop-types: 0          # prevent missing props validation in a React component definition

      ##### Flow #####
      flowtype/boolean-style: 0
      flowtype/define-flow-type: 0
      flowtype/delimiter-dangle: 0
      flowtype/generic-spacing: 0
      flowtype/no-primitive-constructor-types: 0
      flowtype/no-types-missing-file-annotation: 0
      flowtype/no-weak-types: 0
      flowtype/object-type-delimiter:
          - 0
          - comma
      flowtype/require-parameter-type: 0
      flowtype/require-return-type:
          - 0
          - always
          - annotateUndefined: never
      flowtype/require-valid-file-annotation: 0
      flowtype/semi:
          - 0
          - always
      flowtype/space-after-type-colon:
          - 0
          - always
      flowtype/space-before-generic-bracket:
          - 0
          - never
      flowtype/space-before-type-colon:
          - 0
          - never
      flowtype/type-id-match:
          - 0
          - ^(A-Za-z0-9+)+Type$
      flowtype/union-intersection-spacing:
          - 0
          - always
      flowtype/use-flow-type: 0
      flowtype/valid-syntax: 0
